.title-bar {
    background-color: #DEEFF2 !important;
}
.title-text {
    font-size: 2rem !important;
    font-weight: bold;
    color:#00418e;
}
.text-text{
	font-size: 2rem !important;
    font-weight: bold;
    color:#00418e;
}